{% extends 'base_user_menu.html' %}

{% load AddCSSToTemplatesTag %}
{% load staticfiles %}
{% load selectable_tags %}

{% block CUSTOM_IMPORTS %}
  <link href="{% static "custom/css/classManagement.css" %}" rel="stylesheet">
  {% include_ui_theme %}
  {% include_jquery_libs %}
  {{ add_student.media.css }}
  {{ add_student.media.js }}
{% endblock %}


{% block CONTENT %}

  <div class="col-lg-4 classes-list">
    <div class="row" style="padding-left: 10px; padding-right: 10px;">
      <h3>Classes</h3>
      <hr />

    </div>
    <div class="row">

      <ul class="list-group">
        <a href="#" class="list-group-item">5 B</a>
        <a href="#" class="list-group-item">6 B</a>
        <a href="#" class="list-group-item">7 B</a>
        <a href="#" class="list-group-item">10 A</a>
      </ul>

    </div>
    <hr />
    <div class="row" id="new-class-button">

     <button type="button" class="btn btn-success btn-lg btn-block"><i class="fa fa-plus"></i> New Class</button>

    </div>
  </div>
  <div class="col-lg-8" style="background-color:#FFF;padding-bottom:30px;">
    <div class="row" style="padding-right: 0; padding-left: 10px; border-bottom:1px solid #EEE;">
      <div id="top-class-buttons">
        <button class="btn btn-success" data-toggle="modal" data-target="#addStudentsModal">
          <i class="fa fa-user-plus"></i> Invite Students
        </button>

        <button class="btn btn-danger" id="deleteClassButton" onclick="delete_class();return false;">
          <i class="fa fa-trash-o fa-lg"></i> Delete Class
        </button>
      </div>
    </div>
    <div id="studentList">
    </div>
  </div>

{% endblock %}

