.categories {
    padding-top: 50px;
}

.btn-default {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 140px;
}

.left-menu {
    list-style: none;
    padding: 0
}

.left-menu li {
    padding: 15px 15px
}

.left-menu li:hover {
    background-color: #FFF;
}

.item {
    padding: 15px;
}

.item:hover {
    background-color: #FFF;
}

.student-name {
    font-size: 14px;
    margin: 10px;
    position: relative;
    top: 10px
}

.student-avatar {
    height: 40px;
    width: 40px;
    background-color: #FF0;
    float: left;
}