<!DOCTYPE html>
{% load i18n %}
{% load AddCSSToTemplatesTag %}
{% load staticfiles %}
<html>
<head lang="en">
    <link href="{% static 'custom/css/panel.css' %}" rel="stylesheet" />
    <script src="{% static 'ladda/ladda.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module('educoding', []);
    </script>
    {% block OTHER_IMPORTS %}
    {% endblock %}
    {% include 'reusables/header_imports.html' %}
    <title>{% trans 'Panel' %}</title>
</head>
<body>
    {% include 'reusables/panel_header.html' %}
    <div class="container" style="width: 100%; padding-left:0;">
        <br /><br /><br />
        <div class="col-lg-2" style="position: fixed; padding-left: 0;">
            {% include 'reusables/panel_navbar.html' %}
        </div>
        <div class="col-lg-offset-2">
            {% block CONTENT %}
            {% endblock %}
        </div>
    </div>
    {% block SCRIPTS %}
    {% endblock %}
</body>
</html>