{% extends 'base.html' %}
{% load staticfiles %}
{% load AddCSSToTemplatesTag %}

{% block CUSTOM_IMPORTS %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Raleway:400,100,200,300,600'
        rel='stylesheet' type='text/css'>
{% endblock %}
{% block HEAD %}

{% endblock %}
{% block BODY %}
{% load i18n %}
  <body id="page-top" class="index">

    <!--header section-->
    <header class="header">
        <div class="container">
            <!--navigation bar-->
            <nav class="nav navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                        <span class="fa fa-bars"></span>
                    </button>
                        <a href="#" class="navbar-brand">Edu<span>Coding</span></a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#feature">Feature</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--navigation bar ends-->
    </header>

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 banner-text text-center">
                    <h2>EduCoding</h2>
                    <p>{% trans "Inspiring Education" %}</p>
                </div>
            </div>
        </div>
    </section>



    <div id="feature" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12  text-head">
                    <h2>Our Features</h2>
                </div>
                <div class="row ">
                    <div class="col-md-12  large-box">
                        {% for feature in landing_page.get_features %}
                        <div class="col-sm-4 col-md-4 feature-post">
                            <div class="col-md-12 icon-set">
                                <i class="{{ feature.icon }}"></i>
                            </div>
                            <div class="col-md-12 icon-text">
                                <p>{{ feature.title }}</p>
                            </div>
                            <div class="col-md-12 icon-small">
                                <p>{{ feature.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div id="subscribe" class="section-padding">
        <div class="container">
            <div class="col-sm-12 col-md-12 sub-text">
                <div class="text-center">
                    <h3>"{{ quote.text }}"</h3>
                </div>
            </div>
        </div>
    </div>
    <!--subscribe ends-->
    <!--contact starts-->
    <div id="contact" class="section-padding">
        <div class="container">
            <div class="col-md-12 text-head">
                        <h2 class="text-center">{% trans "Contact Us" %}</h2>
                    </div>
                <div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6 text-contact">
                    <div class="col-md-12">
                            <form role="form">

                                <div class="form-group">
                                  <label for="text">{% trans "Name" %}:</label>
                                  <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                  <label for="email">{% trans "Email" %}:</label>
                                  <input type="email" class="form-control" id="pwd">
                                </div>
                                <div class="form-group">
                                  <label for="message">{% trans "Message" %}:</label>
                                  <textarea type="password" class="form-control" id="pwd"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">{% trans "Submit" %}:</button>
                            </form>
                    </div>
                </div>

        </div>
    </div>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog normal-fonts modal-sm">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" style="text-align-last: center">Login</h2>
                </div>
                <div class="modal-body">

                    <form method="post" action='/login/' class="form">{% csrf_token %}
                        <div class="modal-panel-body">
                            <div class="row">
                                <label for="username">Email</label>
                            </div>
                            <div class="row">
                                <div class="form-group input-group col-md-12">
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter Email" />
                                </div>
                            </div>
                            <div class="row">
                                <label for="password">Password</label>
                            </div>
                            <div class="row">

                                <div class="form-group input-group col-md-12">

                                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--contact ends-->
    <!--footer starts-->
    <footer class="footer">
        <div class="container">
            <div class="col-md-12 text-center footer-line">
                <p>Copyright &copy; EduCoding</p>
            </div>
        </div>
    </footer>
    <!--contact ends-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--for smooth scrolling-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
            $(function() {
              $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html,body').animate({
                      scrollTop: target.offset().top
                    }, 1000);
                    return false;
                  }
                }
              });
            });
    </script>
{% endblock %}