{% extends 'base.html' %}
{% load staticfiles %}
{% load AddCSSToTemplatesTag %}

{% block CUSTOM_IMPORTS %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <style>
      body {
    font-family: 'Open Sans', sans-serif;

    }
    .pad-top {
        padding-top:40px;
    }
  </style>
{% endblock %}
{% block HEAD %}

{% endblock %}
{% block BODY %}
{% load i18n %}
    <div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2>{% trans 'EduCoding Registration Page' %}</h2>
            </div>
        </div>
         <div class="row  pad-top">

                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>{% trans 'Register' %}</strong>
                            </div>
                            <div class="panel-body">
                                <form role="form" method="post">{% csrf_token %}
                                <br/>
                                        {% load widget_tweaks %}
                                        {% trans 'First name' as first_name %}
                                        {% trans 'Last name' as last_name %}
                                        {% trans 'E-mail' as email %}
                                        {% trans 'Password' as password %}
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                                            {% render_field form.first_name placeholder=first_name class="form-control" %}
                                        </div>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                                            {% render_field form.last_name placeholder=last_name class="form-control" %}
                                        </div>
                                         <div class="form-group input-group">
                                            <span class="input-group-addon">@</span>
                                             {% render_field form.username placeholder=email class="form-control" %}
                                        </div>
                                      <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            {% render_field form.password placeholder=password class="form-control" type="password"%}
                                        </div>
                                    <input type="hidden" name="invitation_code" value="{{ request.GET.invitation_code}}">
                                    <input type="submit" class="btn btn-success " value="{% trans 'Register Me' %}">
                                    </form>
                            </div>

                        </div>
                    </div>


        </div>
    </div>
{% endblock %}